*{
	margin: 0;
	padding: 0;
}

#header{
	background:#708090;
	padding:5px 0px 10px 0;
	height: 40px;
	border-bottom: 2px solid #e8491d;
}

.brand{
	float:left;
}
.brand h1{
	font-size: 22px;
	color: #fff;
	margin:0px 10px 10px 100px ;
}
.brand h1 a{
	font-size: 22px;
	color: #e8491d;
	text-decoration:none;
}

.nav{
	float:right;
}
.nav ul{
	list-style:none;
	padding:0px;
}

.nav ul li{
	display:inline-block;
	margin:0 18px;
}
	
.nav ul li:first-child{
	/*margin:0px;*/
}
	
.nav ul li:last-child{
	margin:0 100px 0 0;
}
	
.nav ul li a{
	display:block;
	font-size:13px;
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	margin-top: 20px;	
}
#hero-image{
	background-image: url('img/title.jpg');
	height: 100%;
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#hero-text {
	color: white;
    width: 100%;
	height: 200px;
	text-align: center;
	padding-top: 90px;
}
#hero-text h1{
	font-size: 50px;
}
#hero-text p{
	margin-top: 10px;
	font-size: 20px;
}


#menusearchBox{
	padding:5px 0px 10px 0; 
	height: 40px;
	background:#708090;
}

.container h1{
	font-size: 20px;
	float: left;
	margin-left: 100px;
	color: #ffffff;
	padding: 10px;
}
#searchBox {
    float: right;
    padding: 7px;
    margin-right: 100px;
}
.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #d42241;
    
}
.submit {
    float: right;
    color: white;
    background: #e8491d;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
    padding: 5px;
}

#service{
	width: 100%;
	height: 110px;
	margin: auto;
}
.container{
	padding: 5px;
}

.service_block{
    width: 300px;
	height: 110px;
	text-align:center;
	display: inline-table;
	margin-top: 10px;
}

.picture{
	margin: auto;
	width:70px;
	height:70px;
	margin-left: 60px;
}

.service_block h1{
	color:#111111;
}
	
.service_block p{
	color:#888888;
	margin-top: 40px;
}
	

#footer {
    background: #e8491d;
	bottom: 0;
	height: 40px;
	width: 100%;
	position: fixed;
}
#footer{
	color: white;
	margin-top: 10px;
}